/* css footer */ 
footer{
    /* margin-top: 50px; */
    background: #212529;
    color: rgb(222, 222, 222);
    font-family: sans-serif;
    padding: 20px;
    width: 100%;
}
footer img{
    width: 200px;
    display: block;
    margin: 0 auto;
}
.main-footer{
    overflow: hidden;
}
.main-footer ul li{
    list-style: none;
    margin-bottom: 10px;
}
.main-footer ul li:hover{
    color: #9a9696;
    cursor: pointer;
}
.support, .service, .social, .download{
    width: 25%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.support h4, .service h4, .social h4{
    margin-top: 0;
    margin-bottom: 10px;
}
/* css phần icons mạng xax hội */
.social i{
    margin-right: 10px;
}
.social .fa-facebook{
    color: rgb(86, 86, 245);
}
.social .fa-instagram{
    color: rgb(214, 64, 64);
}
.social .fa-youtube{
    color: rgb(193, 28, 28);
}
.social .fa-twitter{
    color: rgb(60, 158, 214);
}
.social .fa-tiktok{
    color: black;
}
.social .fa-snapchat{
    color: rgb(227, 227, 32);
}
.social a{
    color: #fff;
    text-decoration: none;
}
.social a:hover{
    color: rgb(111, 109, 109);
}
/* phần download */
.download {
    text-align: left;
}
.download h4 {
    margin-top: 0;
    margin-bottom: 10px;
}
.download ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.download ul li {
    display: flex;
    align-items: center;
    margin-left: 40px;
    background-color: rgb(231, 231, 231);
    color: #2c2828;
    padding: 10px;
    width: 120px;
    font-size: 12px;
    border-radius: 3px;
}
.download ul li i {
    margin-right: 10px;
}
.download .fa-google-play{
    color: #0cbe21;
}
.download .fa-app-store-ios{
    color: #1f4fe0;
}
.download .fa-qrcode{
    position: absolute;
    font-size: 30px;
    margin-top: 25px;
    background-color: rgb(231, 231, 231);
    color: #2c2828;
    padding: 2px;
    border-radius: 3px;
}
